{% extends 'base.html' %}
{% block title %}
Мария Кондакова
{% endblock title %}
{% block content%}
    <!-- START HOME -->
    <section class="section bg-home-parallax bg-home-full" style="background-image: url('static/images/main/main-2.jpg');"
        id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container home-up">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="home-content text-center home-parallax">
                                <h4 class="home-title">Мария Кондакова</h4>
                                <p class="home-subtitle mt-3 mx-auto">Организатор мероприятий, церемониймейстер, ведущая.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END HOME -->
    <!-- Services Start -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center section-title mx-auto">
                        <small class="pb-2 text-muted">Качественное сопровождение мероприятий</small>
                        <h3 class="mb-0">Мои услуги</h3>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-4">
                <div class="col-lg-4">
                    <div class="service-content p-2">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-like text-custom"></i>
                        </div>
                        <div class="services-desc">
                            <h5>Свадебные церемонии</h5>
                            <p class="text-muted">Авторские, индивидуальные тексты, рассказанные "не по листочку".
                                Самые красивые локации и декорации.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-content p-2">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-graph text-custom"></i>
                        </div>

                        <div class="services-desc">
                            <h5>Организация</h5>
                            <p class="text-muted">Организация мероприятий любой сложности,
                                работа с различным бюджетом, индивидуальный подход.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-content p-2">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-gift text-custom"></i>
                        </div>
                        <div class="services-desc">
                            <h5>Ведущая</h5>
                            <p class="text-muted">Качесвенная работа ведущего. Море веселья,
                                приятное музыкальное сопровождение, современные интерективные решения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!-- Feedback start -->
    <section class="section bg-testimonial" id="feedback">
        <div class="bg-gradiant-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div id="owl-demo-cs-testi" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <i class="mdi mdi-format-quote-close text-white"></i>
                                </div>
                                <div class="testimonial-desc">
                                    <p class="text-white"> 
                                        Маша - это тот человек, который проконсультирует каждую мелочь, сориентируется в любой ситуации и 
                                        найдёт самое лучшее решение, будет с вами с самого утра и до позднего вечера в свадебный день! 
                                        В день свадьбы мы ни минуты не задумывались об организации и каких-то заминках, всё было под её четким контролем. 
                                        А еще замечательно впишется в круг ваших близких, будто она ваша давняя подруга, 
                                        именно так её охарактеризовали гости. Вот настолько с ней комфортно работать! .</p>
                                </div>

                                <div class="testi-img float-left mr-3">
                                    <img src="static/images/testi/organise.jpeg" alt="" class="img-fluid d-block rounded-circle">
                                </div>

                                <div class="testi-info pt-4">
                                    <h6 class="text-white mb-0">Кристина Смирноваo</h6>
                                    <small class="text-white">Организация свадьбы</small>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <i class="mdi mdi-format-quote-close text-white"></i>
                                </div>
                                <div class="testimonial-desc">
                                    <p class="text-white">Ведущая церемонии была Мария. Я как то в инстаграм увидела отрывок церемонии,
                                        где Маша своим милейшим и громким голосом сказала: "Объявляю вас мужем и женоооой" и я поняла,
                                        что хочу слышать эту фразу именно от неё. На церемонии Маша сложила истории написанные нами воедино
                                        и прочла наши клятвы. Я проплакала практически всю церемонию, так как она получилась сказаочно трогательной.
                                    </p>
                                </div>

                                <div class="testi-img float-left mr-3">
                                    <img src="static/images/testi/married2.jpeg" alt="" class="img-fluid d-block rounded-circle">
                                </div>

                                <div class="testi-info pt-4">
                                    <h6 class="text-white mb-0">Полина Леонтьева</h6>
                                    <small class="text-white">Выездная церемония</small>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <i class="mdi mdi-format-quote-close text-white"></i>
                                </div>
                                <div class="testimonial-desc">
                                    <p class="text-white">Мария вела юбилей моей мамы (75 лет) . Огромная благодарность от мамы! Восхищение от всех гостей!
                                        От меня большое спасибо!!!! Очень тактичная, с тонким чувством юмора, прекрасным голосом
                                        (для всех оказалось сюрпризом живое исполнение от Марии), ненавязчивые конкурсы, просмотр 
                                        фотографий на экране через проектор - всё это создало тёплую, душевную атмосферу, отличное настроение. 
                                        Ещё раз: ОГРОМНОЕ СПАСИБО!!!!!!</p>
                                </div>

                                <div class="testi-img float-left mr-3">
                                    <img src="static/images/testi/celebrate.jpeg" alt="" class="img-fluid d-block rounded-circle">
                                </div>

                                <div class="testi-info pt-4">
                                    <h6 class="text-white mb-0">Мария Дасаева</h6>
                                    <small class="text-white">Проведение юбилея</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feedback end -->
    <!-- Insta Start -->
    <section class="section bg-light" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center section-title mx-auto">
                        <small class="pb-2 text-muted">Примеры моих работ удобно смотерть в моём</small>
                        <a href="https://instagram.com/butterflyy04?igshid=YmMyMTA2M2Y=" target="_blank"><h3 class="mb-0">Инстаграмм</h3></a>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-2 vertical-content">
                <div class="col-lg-6">
                    <div class="features-img-content">
                        <a href="https://instagram.com/butterflyy04?igshid=YmMyMTA2M2Y=" target="_blank">
                            <img src="static/images/main/iphone2.png" width="50%" alt="" class="img-fluid mx-auto d-block">
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 offset-lg-1">
                    <div class="features-detail-content p-4">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-pin text-custom"></i>
                        </div>
                        <div class="features-desc">
                            <h5 class="">Акутуальные мероприятия</h5>
                        </div>
                    </div>
                    <div class="features-detail-content p-4">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-gleam text-custom"></i>
                        </div>
                        <div class="features-desc">
                            <h5 class="">Примеры проектов</h5>
                        </div>
                    </div>
                    <div class="features-detail-content p-4">
                        <div class="features-icon float-left mr-3">
                            <i class="pe-7s-check text-custom"></i>
                        </div>
                        <div class="features-desc">
                            <h5 class="">Свободное время</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Insta End  -->


    <!-- paralax start -->
    <section class="section bg-cta">
        <div class="bg-gradiant-overlay"></div>
        <div class="container">  
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-content text-center">
                        <br><br><br>
                        <h4 class="text-white"> Со мной удобно связаться </h4>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- paralax end -->

    <!-- contacr start -->
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-12">
                    <div class="text-center section-title mx-auto">
                        <small class="pb-2 text-muted">Способы связи</small>
                        <h3 class="mb-0">Контакты</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-5 vertical-content">
                <div class="col-lg-5">
                    <div class="contact-detail">
                        <p class="pt-4 text-muted pb-3">Если у вас есть вопросы, вы можете просто
                            позвонить мне или написать в удобном месенджере. Также оставить заявку с описанием запроса прямо здесь,
                            а я перезвоню Вам по телефону, указнному в заявке.</p>
                        <div class="contact-icon float-left mr-2">
                            <i class="pe-7s-call"></i>
                        </div>
                        <a href="tel:+79090969269"><p>+7 (964) 245-98-42</p></a>

                        <div class="contact-icon float-left mr-2">
                            <i class="pe-7s-mail-open"></i>
                        </div>
                        <a href="mailto:butterfly040489@icloud.com"><p>butterfly040489@icloud.com</p></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form method="POST" action="{{ url_for('request_form') }}">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            {{ form.name(class="form-control", id="name") }}
                            {% if form.name.errors %}
                                <div class="invalid-feedback">{{ form.name.errors[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон:</label>
                            {{ form.phone(class="form-control", id="phone") }}
                            {% if form.phone.errors %}
                                <div class="invalid-feedback">{{ form.phone.errors[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="event_date">Дата мероприятия:</label>
                            {{ form.event_date(class="form-control", id="date") }}
                            {% if form.event_date.errors %}
                                <div class="invalid-feedback">{{ form.event_date.errors[0] }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="text">Текст сообщения:</label>
                            {{ form.text(class="form-control", id="message") }}
                            {% if form.text.errors %}
                                <div class="invalid-feedback">{{ form.text.errors[0] }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- contact end -->
{% endblock content %}