<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Последние заявки</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">

    <!-- Magnificpopup Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}" type="text/css">

    <!-- materialdesign icons CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css')}}" />

    <!--Themify Icon -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/pe-icon-7-stroke.css')}}" />

    <!--Slider-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css')}}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors/default.css')}}" />

</head>

<section class="section" id="services">
    <div class="container mt-5">
        <div class="container">
            <h1>Последние заявки</h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary">На главную</a>
            <br><br>

            {% for el in requests %}
                <div class="alert alert-info">
                    <h3>Заявка на: {{ el.event_date }}</h3>
                    <p>Клиент: {{ el.name }}</p>
                    <p>{{ el.text }}</p>
                    <p>Перезвонить: {{ el.phone }}</p>
                </div>
            {% endfor %}
        </div>
    </div> 
</section>